
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  background-color: lightblue;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    line-height: 1.6;
}

.input_section {
  margin:50px 0px 80px 0px;
  width: 320px
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 1px;
}

.add_option {
  margin-top: 15px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
